<ul class="ucla-list--bulleted">
  <li>Unordered List Item</li>
  <li>Unordered List Item
</ul>

<!-- Unordered List Body Paragrapgh-->
<ul class="ucla-list--bulleted">
  <li>Unordered List Item. A series of sentences together which make a paragraph. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito.</li>
  <li>Unordered List Item. A series of sentences together which make a paragraph. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito.</li>
</ul>

<!-- Multi Level Unordered List -->
<ul class="ucla-list--bulleted">
  <li>Unordered List Item</li>
  <li>Unordered List Item
    <ul class="ucla-list--bulleted">
      <li>Unordered List Item</li>
      <li>Unordered List Item</li>
      <li>Unordered List Item</li>
    </ul>
  </li>
  <li>Unordered List Item</li>
</ul>
