<!-- PLEASE NOTE: Background styling with or without divs are added to better depict white icons. -->
<!-- 1. Extra styling with or without divs are added to better depict white icons -->
<!-- 2. SGV Icons: Extra div with background and display styling IS NOT REQUIRED for usage -->
<!-- 3. IMG Icons: Extra styling attribute IS NOT required for usage -->


<!-- Linkedin -->
<img alt="Linkedin" src="/img/icons/social/linkedin--black.svg">
<img alt="Linkedin" src="/img/icons/social/linkedin--white.svg" style="background: #2774AE">
<img alt="Linkedin" src="/img/icons/social/linkedin--brand.svg">

<!-- Twitter -->
<img alt="Twitter" src="/img/icons/social/twitter--black.svg">
<img alt="Twitter" src="/img/icons/social/twitter--white.svg" style="background: #2774AE">
<img alt="Twitter" src="/img/icons/social/twitter--brand.svg">

<!-- Facebook -->
<img alt="Facebook" src="/img/icons/social/facebook--black.svg">
<img alt="Facebook" src="/img/icons/social/facebook--white.svg" style="background: #2774AE">
<img alt="Facebook" src="/img/icons/social/facebook--brand.svg">

<!-- Instagram -->
<img alt="Instagram" src="/img/icons/social/instagram--black.svg">
<img alt="Instagram" src="/img/icons/social/instagram--white.svg" style="background: #2774AE">
<img alt="Instagram" src="/img/icons/social/instagram--brand.svg">

<!-- SnapChat -->
<img alt="Snapchat" src="/img/icons/social/snapchat--black.svg">
<img alt="Snapchat" src="/img/icons/social/snapchat--white.svg" style="background: #2774AE">
<img alt="Snapchat" src="/img/icons/social/snapchat--brand.svg">

<!-- Youtube -->
<img alt="Youtube" src="/img/icons/social/youtube--black.svg">
<img alt="Youtube" src="/img/icons/social/youtube--white.svg" style="background: #2774AE">
<img alt="Youtube" src="/img/icons/social/youtube--brand.svg">

<!-- TikTok -->
<img alt="Tiktok" src="/img/icons/social/tiktok--black.svg">
<img alt="Tiktok" src="/img/icons/social/tiktok--white.svg" style="background: #2774AE">
<img alt="Tiktok" src="/img/icons/social/tiktok--brand.svg">
