@use "../utilities/colors";

.alert {
  /* Default Alerts Styling */
  padding: 16px 16px 16px 16px;
  border-width: 4px;
  border-style: solid;
  line-height: 24px;

  img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  figcaption {
    display: flex;
  }

  /* Specific Alert Styles */
  &--primary {
    border-color: colors.$lighter-blue;
  }

  &--secondary {
    border-color: #979797;
  }

  &--success {
    border-color: colors.$success-green;
  }

  &--error {
    border-color: colors.$error-red;
  }

  &--warning {
    border-color: colors.$warning-orange;
  }
}
