@use "../utilities/colors";

.btn {
  padding: 12px 16px 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid transparent;
  line-height: 1.25;
  cursor: pointer;
  display: flex;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.icon--play::before {
    flex-shrink: 0;
    content: "";
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: -8px;
    background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--white.svg");
    background-size: contain;
    background-position: 0 -1px;
  }

  &.icon--link::after {
    flex-shrink: 0;
    content: "";
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: -8px;
    background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--white.svg");
    background-size: contain;
    background-position: 0 -1px;
  }

  // primary-light button styling
  &--lightbg {
    background: colors.$default-state;
    color: colors.$white;

    &:visited {
      background: colors.$default-state;
      color: colors.$white;
    }

    &:hover {
      background: colors.$hover-state;
    }

    &:focus {
      background: colors.$focus-state;
      outline: 1px dotted colors.$hover-state;
      outline-offset: 2px;
    }

    &:active {
      background: colors.$active-state;
      outline: none;
    }

    &:disabled {
      background: colors.$disabled-state;
      color: colors.$white;
    }
  }

  // primary-dark button styling
  &--darkbg {
    color: black;
    background: colors.$ucla-gold;

    &:visited {
      color: black;
      background: colors.$ucla-gold;
    }

    &:hover {
      background: colors.$hover-state-dark;
      color: black;
    }

    &:focus {
      background: colors.$focus-state-dark;
      outline: 1px dotted colors.$white;
      outline-offset: 2px;
    }

    &:active {
      background: colors.$active-state-dark;
      outline: none;
    }

    &:disabled {
      background: colors.$disabled-state-dark;
    }

    &.icon--play::before {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--black.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &.icon--link::after {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--black.svg");
      background-size: contain;
      background-position: 0 -1px;
    }
  }

  // secondary button styling
  &--secondary {
    // secondary-light button styling
    &--lightbg {
      background: transparent;
      color: colors.$default-state;
      border: 2px solid colors.$default-state;

      &.icon--play:hover::before,
      &.icon--play:focus::before {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--white.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--play::before {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--blue.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--link:hover::after,
      &.icon--link:focus::after {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--white.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--link::after {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--defaultblue.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &:visited {
        background: transparent;
        color: colors.$default-state;
        border: 2px solid colors.$default-state;
      }

      &:hover {
        background: colors.$hover-state;
        border-color: colors.$hover-state;
        color: colors.$white;
      }

      &:focus {
        background: colors.$focus-state;
        border-color: transparent;
        outline: 1px dotted colors.$focus-state;
        outline-offset: 2px;
        color: colors.$white;
      }

      &:active {
        background: colors.$active-state;
        color: colors.$white;
      }

      &:disabled {
        border-color: colors.$disabled-state;
        color: colors.$disabled-state;
        background: colors.$white;
      }
    }

    // secondary-dark button styling
    &--darkbg {
      background: transparent;
      color: colors.$white;
      border: 2px solid colors.$white;

      &.icon--play:hover::before,
      &.icon--play:focus::before {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--black.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--play::before {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--white.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--link:hover::after,
      &.icon--link:focus::after {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--black.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &.icon--link::after {
        background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--white.svg");
        background-size: contain;
        background-position: 0 -1px;
      }

      &:visited {
        background: transparent;
        color: colors.$white;
        border: 2px solid colors.$white;
      }

      &:hover {
        background: colors.$hover-state-dark;
        border-color: colors.$hover-state-dark;
        color: colors.$black;
      }

      &:focus {
        background: colors.$focus-state-dark;
        border-color: transparent;
        outline: 1px dotted colors.$white;
        outline-offset: 2px;
        color: colors.$black;
      }

      &:active {
        background: colors.$active-state-dark;
        color: colors.$black;
        border: 2px solid colors.$active-state-dark;
      }

      &:disabled {
        color: colors.$disabled-state-dark;
        background: transparent;
        border-color: colors.$disabled-state-dark;
      }
    }
  }

  // tertiary button styling
  &--tertiary {
    background: transparent;
    color: colors.$default-state;

    &.icon--play:hover::before,
    &.icon--play:focus::before {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--white.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &.icon--play::before {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--blue.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &:visited {
      background: transparent;
      color: colors.$default-state;
    }

    &:hover {
      background: colors.$hover-state;
      color: colors.$white;
    }

    &:focus {
      background: colors.$focus-state;
      outline: 1px dotted colors.$hover-state;
      outline-offset: 2px;
      color: colors.$white;
    }

    &:active {
      background: colors.$active-state;
      color: colors.$white;
      outline: none;
    }

    &:disabled {
      color: colors.$disabled-state;
      background: transparent;
    }

    &.icon--play:hover::before,
    &.icon--play:focus::before {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--white.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &.icon--play::before {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/play--blue.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &.icon--link:hover::after,
    &.icon--link:focus::after {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--white.svg");
      background-size: contain;
      background-position: 0 -1px;
    }

    &.icon--link::after {
      background: url("https://s3.us-west-1.amazonaws.com/webcomponents.ucla.edu/img/icons/denotive/external-link--blue.svg");
      background-size: contain;
      background-position: 0 -1px;
    }
  }

  /*** Button Group Styling ***/
  &--group {
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 2px;

    &-left,
    &-center,
    &-right {
      background: colors.$white;
      color: colors.$default-state;
      border: 2px solid colors.$default-state;
      border-radius: 0px;

      &:visited {
        background: colors.$white;
        color: colors.$default-state;
        border: 2px solid colors.$default-state;
      }

      &:hover {
        color: colors.$white;
        border-color: colors.$hover-state;
        background: colors.$hover-state;
      }

      &:focus {
        color: colors.$white;
        border-color: colors.$focus-state;
        background: colors.$focus-state;
        outline: 1px dotted colors.$hover-state;
        outline-offset: 2px;
      }

      &:active {
        color: colors.$white;
        background: colors.$active-state;
        border-color: colors.$active-state;
        outline: none;
      }

      &:disabled {
        background: colors.$disabled-state;
        border-color: colors.$disabled-state;
        color: colors.$white;
      }
    }

    // Outer corners should be rounded
    &-left {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &-right {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

// Pagination Styling
.pagination,
.pagination--boxed {
  padding-inline-start: 0;
  // remove comp library's default bullets
  li::before {
    content: none;
  }

  display: flex;
  gap: 2px;

  // boxed and unboxed shared styling
  li {
    display: inline;

    & .page {
      text-decoration: none;
      padding: 7px 12px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      color: colors.$default-state;
      background: white;

      &:visited {
        color: colors.$default-state;
        background: white;
      }

      &:hover {
        color: colors.$white;
        background: colors.$hover-state;
        border-color: colors.$hover-state;
      }

      &:focus {
        background: colors.$focus-state;
        border-color: colors.$focus-state;
        outline: 1px dotted colors.$hover-state;
        outline-offset: 2px;
        color: colors.$white;
      }

      &:active {
        background: colors.$active-state;
        border-color: colors.$active-state;
        color: colors.$white;
        outline: none;
      }
    }

    & .page--current {
      color: colors.$lightest-grey;

      &:visited {
        color: colors.$lightest-grey;
        border-color: colors.$lightest-grey;
      }

      &:hover {
        color: colors.$white;
        border-color: colors.$hover-state;
      }

      &:focus {
        color: colors.$white;
      }

      &:active {
        border-color: colors.$active-state;
      }
    }
  }
}

// boxed class specific styling
.pagination--boxed {
  li .page {
    padding: 7px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: colors.$default-state;
  }
}
