@use "../utilities/_mixins/breakpoints";
@use "../utilities/_mixins/helper";
@use "../utilities/colors";

.story {
  margin-bottom: 0;
  padding: 0 10px;

  @media (min-width: breakpoints.breakpoint-min(xl)) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__featured {
    float: left;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      position: relative;
      width: 100%;
    }

    &-card {
      min-height: 540px;

      @media (min-width: breakpoints.breakpoint-min(xl)) {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &-content {
      margin: 0 25px;
      padding: 32px;
      position: relative;
      top: -24px;
      background-color: colors.$white;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        margin: 0;
        width: 576px;
        position: absolute;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        transform: translateY(100%);
      }
    }

    &-image {
      width: 100%;
      height: auto;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 776px;
        height: 517px;
        float: right;
      }
    }

    &-title {
      font-size: 2.25rem;
      line-height: 1.125;
      margin-bottom: 16px;

      & > .link {
        color: colors.$default-state;
        text-decoration: none;
      }
    }

    &-blurb {
      margin: 0 0 16px;
      line-height: 1.5;
    }

    &-source {
      line-height: 1.25rem;
      font-weight: bold;
      line-height: 1.25;

      & > .link {
        color: colors.$default-state;
        text-decoration: none;

        &:hover {
          background-color: colors.$hover-state;
          color: colors.$white;
          text-decoration: none;
        }

        &:active {
          background-color: colors.$active-state;
          color: colors.$white;
          text-decoration: none;
        }

        &:focus {
          background-color: colors.$focus-state;
          color: colors.$white;
          text-decoration: none;
        }
      }
    }
  } // end &__featured

  &__secondary-card {
    width: 100%;
    min-width: 376px;
    max-width: 376px;
    //background: colors.$white;

    &-image {
      height: auto;
      max-width: 376px;
      max-height: 282px;
      width: 100%;
      margin-bottom: 0;
    }

    &-date {
      font-size: 14px;
      font-weight: bold;
      padding: 32px 32px 0;
    }

    &-title {
      font-size: 24px;
      line-height: 27px;
      margin: 8px 32px;
      outline: none;
      position: relative;
    }

    &-content {
      box-sizing: border-box;
      width: 100%;
      padding: 0 32px 0;
    }

    &-blurb {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 24px;
    }

    &-source {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      margin: 12px 0;
    }

    &-link, a { // Link styles added below title so they are read last.
      outline: none;
      text-decoration: none;
      height: auto;
      width: 100%;
      max-width: 376px;
      color: colors.$default-state;

      &::before {
        display: none;
        position: absolute;
        content: '';
        max-width: 376px;
        max-height: 250px;
        width: 100%;
        height: 250px;
        background: colors.$default-state;
      }

      span {
        color: colors.$default-state;
      }

      &:hover {
        &::before {
          display: block;
        }

        &.source::before {
          display: none;
        }

        img {
          opacity: 0.8;
        }

        span {
          color: colors.$white;
          background: colors.$hover-state;
        }
      }

      &:focus {
        span {
          outline: 1px dotted colors.$hover-state;
        }
      }

      &:active {
        &::before {
          display: block;
          background: colors.$active-state;
        }

        &.source::before {
          display: none;
        }

        img {
          opacity: 0.8;
        }

        span {
          color: colors.$white;
          background: colors.$active-state;
        }
      }

      &:visited {
        &:focus {
          outline: none;

          span {
            outline: 1px dotted colors.$hover-state;
          }
        }
      }
    }
  } // end &__secondary
}
