@use "../utilities/_mixins/breakpoints";
@use "../utilities/_mixins/helper";
@use "../utilities/colors";

.person-card, .person-card-grey {
  height: auto;
  position: relative;
  background: colors.$white;
  vertical-align: top;

  @media only screen and (min-width: breakpoints.breakpoint-min(xs)) {
    max-width: 376px;
    margin: 0 16px 32px;
  }

  &-grey > &__info-wrapper {
    background: colors.$grey-5;
  }

  &-grey > &__info-wrapper {
    background: colors.$grey-5;
  }

  &__image {
    width: 160px;
    height: 160px;
    padding-left: 32px;
    position: relative;
    z-index: 1;
  }

  &__info-wrapper {
    position: relative;
    bottom: 32px;
    background: colors.$white;
    z-index: 0;
    padding: 64px 32px 32px;
  }

  &__name {
    color: colors.$default-state;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 8px;
  }

  &__department {
    color: colors.$medium-grey4;
    font-size: 18px;
    line-height: 22.5px;
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    color: colors.$medium-grey5;
    max-height: 300px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &:first-child {
    margin-top: 0px;

    @media only screen and (min-width: breakpoints.breakpoint-min(sm)) {
      margin-top: 40px;
    }
  }
}
