@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";

// Orginal CSS comes from SplideJS carousel v2.4.24. https://github.com/Splidejs/splide/tree/master/dist/css
// This CSS has been modfied to fit UCLA's needs. Documentation on themeing Splide can be found here, https://splidejs.com/themes/

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

.splide {
  visibility: hidden;
  outline: none;
  position: relative;

  &--draggable > .splide__track > .splide__list > .splide__slide {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &--fade > .splide__track > .splide__list {
    display: block;
  }

  &--fade > .splide__track > .splide__list > .splide__slide {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  &--fade > .splide__track > .splide__list > .splide__slide.is-active {
    opacity: 1;
    position: relative;
    z-index: 1;
  }

  &--rtl {
    direction: rtl;
  }

  &--ttb > .splide__track > .splide__list {
    display: block;
  }

  &--ttb > .splide__pagination {
    width: auto;
  }

  &__container {
    box-sizing: border-box;
    position: relative;
  }

  &__list {
    margin: 0 !important;
    padding: 0 !important;
    width: max-content;
    will-change: transform;
  }

  &.is-active .splide__list {
    display: -ms-flexbox;
    display: flex;
  }

  &__arrow {
    background: colors.$ucla-blue;
    -webkit-appearance: none;
    border: 0;
    margin: 1px;
    width: 30px;
    height: 30px;
    border-radius: 2px;

    &--prev {
      transform: rotate(180deg); /* Equal to rotateZ(45deg) */
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: colors.$white;
      }
    }

    &:hover {
      cursor: pointer;
      background: colors.$ucla-gold;
      color: colors.$black;

      svg path {
        fill: colors.$black;
      }
    }

    &:focus {
      outline: 1px dotted colors.$active-state;
      outline-offset: 1px;
    }
  }

  &__pagination {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    width: 95%;

    li {
      display: inline-block;
      line-height: 1;
      list-style-type: none;
      margin: 0;

      button.splide__pagination__page {
        background: colors.$white;
        border: 1px solid colors.$grey-40;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin: 2px;

        &.is-active {
          background: colors.$active-state;
          border: 1px solid colors.$active-state;
        }

        &:hover {
          background: colors.$ucla-gold;
          border: 1px solid colors.$grey-40;
          cursor: pointer;
        }

        &:focus {
          outline: 1px dotted colors.$focus-state;
        }
      }
    }
  }

  &__play,
  &__pause {
    background: colors.$ucla-blue;
    -webkit-appearance: none;
    border: 0;
    border-radius: 2px;
    margin: 1px;
    color: colors.$white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 3px;

    &:hover {
      cursor: pointer;
      background: colors.$ucla-gold;
      color: colors.$black;
    }

    &:focus {
      outline: 1px dotted colors.$active-state;
      outline-offset: 1px;
    }
  }

  &__slide {
    outline: none;
    position: relative;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;

    img {
      vertical-align: bottom;
    }
  }

  &__slider {
    position: relative;
  }

  &__spinner {
    animation: splide-loading 1s linear infinite;
    border: 2px solid #999;
    border-left-color: transparent;
    border-radius: 50%;
    bottom: 0;
    display: inline-block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }

  &__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
}
