@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";

.footer {
  &__dept, &__global {
    padding: 32px 24px;

    @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
      padding: 40px;
    }
  }

  // "Department Footer" - See top blue footer

  &__dept {
    background: colors.$ucla-blue;
    color: colors.$white;
    font-weight: bold;

    &--logo {
      display: block;
      height: auto;
      margin-bottom: 32px;

      @media only screen and (min-width: breakpoints.breakpoint-min(xs)) {
        max-width: 50%;
      }

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        max-width: 25%;
      }

      @media only screen and (min-width: breakpoints.breakpoint-min(xl)) {
        max-width: 18%;
      }
    }

    &--info, &--links {
      display: block;

      @media only screen and (min-width: 1064px) {
        display: inline-block;
      }
    }

    &--links {
      vertical-align: top;

      &-wrapper {
        @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
          display: inline-block;
        }
      }

      // reset default margin, padding and bullet styles
      ul {
        margin-top: 0;
        margin-right: 24px;
        padding-left: 0;
        vertical-align: top;
        width: auto;
        display: inline-block;

        & li {
          margin-bottom: 2px;
          font-size: 1rem;

          & a {
            color: colors.$white;
            text-decoration: none;

            &:hover {
              background: colors.$hover-state-dark;
              color: colors.$black;
            }

            &:focus {
              outline: 1px dotted colors.$white;
            }

            &:active {
              background: colors.$active-state-dark;
            }
          }

          &:not(:first-child) {
            font-size: 0.75rem;
          }

          &::before {
            content: none;
          }
        }
      }
    }

    &--info {
      margin-right: 24px;

      @media only screen and (min-width: breakpoints.breakpoint-min(lrg)) {
        max-width: 25%;
      }
    }

    &--contact {
      margin-bottom: 12px;

      p {
        color: colors.$white;
        font-size: 14px;
      }

      a {
        color: colors.$white;
        text-decoration: none;

        &:hover {
          background: colors.$hover-state-dark;
          color: colors.$black;
        }

        &:focus {
          outline: 1px dotted colors.$white;
        }

        &:active {
          background: colors.$active-state-dark;
        }
      }
      // Spacing between address and phone number
      & p:nth-child(2) {
        margin-bottom: 14px;
      }

      @media only screen and (min-width: breakpoint-mid(md)) {
        margin-bottom: 12px;
      }
    }

    &--social {
      height: 48px;
      max-height: 100%;
      margin-bottom: 14px;

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        margin-bottom: 14px;
        height: 48px;
      }


      &-facebook {
        &:hover, &:active {
          content: url("/img/icons/social/facebook--black.svg");
        }
      }

      &-twitter {
        &:hover, &:active {
          content: url("/img/icons/social/twitter--black.svg");
        }
      }

      &-instagram {
        &:hover, &:active {
          content: url("/img/icons/social/instagram--black.svg");
        }
      }

      &-snapchat {
        &:hover, &:active {
          content: url("/img/icons/social/snapchat--black.svg");
        }
      }

      &-linkedin {
        &:hover, &:active {
          content: url("/img/icons/social/linkedin--black.svg");
        }
      }

      &-youtube {
        &:hover, &:active {
          content: url("/img/icons/social/youtube--black.svg");
        }
      }

      &-tiktok {
        &:hover, &:active {
          content: url("/img/icons/social/tiktok--black.svg");
        }
      }

      &-facebook, &-twitter, &-instagram, &-snapchat, &-linkedin, &-youtube, &-tiktok {
        max-height: 100%;
        width: 48px;
        background-size: 48px;
        background-repeat: no-repeat;
        border-radius: 2px;
        display: inline-block;
        position: relative;

        & span {
          position: relative;
        }

        &:focus {
          outline: 1px dotted colors.$white;
          border-radius: 2px;
        }

        &:hover {
          background-size: 48px;
          background: colors.$hover-state-dark;
        }

        &:active {
          background: colors.$active-state-dark;
        }

        @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
          width: 48px;
          background-size: 48px;

          &:hover {
            background-size: 48px;
          }
        }
      }
    }
  }
}

//global footer area
.global-foot {
  .social-links-container {
    justify-content: flex-start;
    padding: 0;
    margin-left: -8px;

    @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
      justify-content: center;
      margin-left: 0;
    }
  }

  &__legal {
    display: block;
    width: 100%;
    font-size: 13px;

    &--copyright {
      display: block;
      width: 225px;
      font-size: 13px;
      line-height: 18px;

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        width: 100%;
        text-align: center;
      }

      @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
        display: inline-block;
        width: 30%;
        text-align: left;
      }
    }

    &--list {
      padding-inline-start: 0;

      @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 0;
      }

      @media only screen and (min-width: breakpoints.breakpoint-min(lg)) {
        float: right;
        width: 63%;
      }

      &-item {
        list-style: none;
        line-height: 32px;
      }
    }

    &--link {
      text-decoration: none;
      color: colors.$ucla-blue;
      font-weight: bold;
    }
  }
}

// Comp lib override
#footer {
  .li-links {
    a {
      &:visited {
        color: colors.$white !important;

        &:hover {
          color: colors.$grey-80 !important;
        }
      }
    }
  }

  .global-foot__legal--list {
    a {
      &:visited {
        color: colors.$ucla-blue;
      }

      &:hover {
        color: colors.$white;
      }
    }
  }

  .copy__link-a.dark {
    font-weight: bold;
    text-decoration: none;
    display: block;

    @media only screen and (min-width: breakpoint-min(md)) {
      display: inline-block;
    }

    &:visited {
      color: colors.$ucla-blue;

      &:hover {
        color: colors.$white;
      }
    }
  }
}

// "Email Signup"
.email {
  background: colors.$darker-blue;
  padding: 32px 24px;

  @media only screen and (min-width: breakpoints.breakpoint-min(md)) {
    padding: 40px;
  }

  &__heading, &__description, &__form, &__legal-text, &__legal-link, &__legal-link:visited, &__legal-link:link {
    color: colors.$white;
  }

  &__heading {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__input {
    display: block;
    padding: 0px;
    margin-bottom: 22px;
    vertical-align: top;

    @media (min-width: breakpoints.breakpoint-min(lg)) {
      display: table-cell;
      padding: 0 12px;
      margin-bottom: 0;
    }

    &-text {
      box-sizing: border-box;
      padding: 12px 30px 12px 12px;
      width: 100%;
      height: 48px;
      border: none;
      font-size: 1rem;
      background-color: colors.$darkest-blue;
      opacity: 1;
      border-radius: 2px;
      color: colors.$white;
      margin-top: 6px;

      &::placeholder {
        color: colors.$medium-grey3;
      }

      &:focus {
        outline: 1px dotted colors.$white;
        outline-offset: -3px;
      }

      &.checked {
        background-image: url('/img/Success.svg') !important;
        background-repeat: no-repeat;
        background-size: auto !important;
        background-position: 96% 51%;

        @media (min-width: breakpoints.breakpoint-min(md)) {
          background-position: 98% 50%;
        }
      }

      &.error {
        background-image: url('/img/Error.svg') !important;
        background-repeat: no-repeat;
        background-size: auto !important;
        background-position: 98% 50%;
        border: 2px solid colors.$ucla-gold;
      }
    }

    &-submit {
      background-color: colors.$ucla-gold;
      height: 48px;
      border: none;
      border-radius: 2px;
      color: colors.$grey-80;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      padding: 12px 24px;
      width: 100%;
      margin-top: 6px;
      position: relative;
      top: 0px;
      max-width: 120px;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        margin-top: 0px;
        top: 23px;
        max-width: none;
      }

      &:active {
        background-color: colors.$button-active;
      }

      &:focus {
        background-color: colors.$button-hover;
        outline: 1px dotted colors.$white;
        outline-offset: 1px;
      }
    }

    &-container {
      display: block;
      padding: 0;
      width: 100%;
      margin-bottom: 24px;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        display: table;
      }
    }

    &-label {
      display: block;
    }

    &-email {
      width: auto;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 28.32%;
        padding-left: 0;
      }

      @media (min-width: breakpoints.breakpoint-min(md)) {
        input[type="text"] {
          max-width: 520px;
        }
      }
    }

    &-firstname {
      width: auto;

      @media (min-width: breakpoints.breakpoint-min(md)) {
        width: 256px;
        display: inline-block;
        margin-right: 5px;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 23.89%;
        display: table-cell;
      }
    }

    &-lastname {
      width: auto;

      @media (min-width: breakpoints.breakpoint-min(md)) {
        width: 256px;
        display: inline-block;
      }

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 24.34%;
        display: table-cell;
      }
    }

    &-zipcode {
      width: auto;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 12.04%;
      }

      input[name="Zip"] {
        max-width: 120px;
        clear: both;
      }
    }

    &-button {
      width: auto;
      padding-right: 0;
      position: relative;
      margin-bottom: 8px;

      @media (min-width: breakpoints.breakpoint-min(lg)) {
        width: 11.53%;
        margin-bottom: 0;
      }
    }
  }

  &__legal-text {
    font-size: 0.8rem;
    line-height: 18px;
  }

  &__legal-link {
    text-decoration: underline;

    &:hover {
      background: colors.$hover-state-dark;
      color: colors.$black;
    }

    &:focus {
      outline: 1px dotted colors.$white;
    }

    &:active {
      background: colors.$active-state-dark;
    }
  }
}
