@use "../utilities/colors";

// Specificity is added this way so that links automatically inherit
// styling without needing to include class names.
// This is important since some CMSs make adding classnames to links
// more difficult
// Anchor tags used in other components with differing stylesmay need
// to override these styling rules by means of increased CSS specificity

.ucla {
  // links on light backgrounds
  a {
    color: colors.$default-state;

    &:not(.page):visited {
      color: colors.$visited-state;
    }

    &:hover {
      color: white;
      background: colors.$hover-state;
    }

    &:active {
      color: white;
      background: colors.$active-state;
    }

    &:focus {
      outline: 1px dotted colors.$default-state;
    }
  }
  // links on dark backgrounds
  & .white-link {
    color: colors.$white;

    &:visited {
      color: colors.$white;
    }

    &:focus {
      outline: 1px dotted colors.$white;
      color: colors.$white;
    }

    &:hover {
      color: colors.$medium-grey5;
      background: colors.$hover-state-dark;
    }

    &:active {
      color: colors.$medium-grey5;
      background: colors.$active-state-dark;
    }
  }

  // Related Links
  .related-links {
    border-bottom: 1px solid colors.$emergency-bg-light;
    padding-inline-start: 0;

    li {
      position: relative;
      border-top: 1px solid colors.$emergency-bg-light;
      margin: 0;

      // remove comp library's default bullet styling
      &::before {
        content: "";
        margin-left: 0;
        display: block;
      }

      a {
        line-height: 1.5rem;
        color: colors.$default-state;
        text-decoration: none;
        display: block;
        padding: 12px 80px 12px 16px;
        font-weight: bold;

        &:focus {
          background-color: colors.$white;
          color: colors.$default-state;
          outline: 1px dotted colors.$default-state;
          outline-offset: -3px;
        }

        &:hover,
        &:active {
          color: colors.$white;
        }

        &:hover {
          background-color: colors.$hover-state;
        }

        &:active {
          background-color: colors.$active-state;
        }

        &.related-links--external {
          &::after {
            content: "";
            background: url("/img/icons/external-link-defaultblue.svg");
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
            position: absolute;
            right: 24px;
            top: calc(50% - 11px);
          }

          &:hover::after {
            background: url("/img/icons/external-link-white.svg");
            background-size: contain;
          }
        }

        &.related-links--download {
          &::after {
            content: "";
            background: url("/img/icons/download-defaultblue.svg");
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
            position: absolute;
            right: 24px;
            top: calc(50% - 11px);
          }

          &:hover::after {
            background: url("/img/icons/download-white.svg");
            background-size: contain;
          }
        }
      }
    }
  }
}
