@use "../utilities/_mixins/breakpoints";
@use "../utilities/colors";

.ribbon span {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: colors.$white;
  background: colors.$ucla-blue;
  display: inline-block;
  padding: 8px 4px 6px 4px;
  margin-bottom: 2px;
  position: relative;

  &.first { padding-left: 8px; }

  &.last { padding-right: 8px; }

  @media (min-width: breakpoints.breakpoint-min(md)) {
    font-size: 3rem;
    padding: 8px 4px 4px 12px;
    margin-bottom: 2px;

    &.first { padding-left: 14px; }

    &.last { padding-right: 14px; }
  }
}

.ribbon--highlight span {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  line-height: 1;
  color: colors.$medium-grey5;
  background: colors.$ucla-gold;
  display: inline-block;
  padding: 12px 3px 6px 3px;
  margin-bottom: 2px;

  &.first { padding-left: 12px; }

  &.last { padding-right: 12px; }
}
