@use "../utilities/colors";

//=== SOCIAL MEDIA POST TILES ===//
.social-tile {
  display: flex;
  max-width: 276px;
  width: 276px;
  max-height: 276px;
  height: 276px;
  background-color: colors.$ucla-blue;
  overflow: hidden;

  a {
    display: block;
    position: relative;
    height: 252px;  // 276px - 48px for padding
    text-decoration: none;
    padding: 24px 24px 0;

    &:hover {
      background: colors.$default-state;
    }

    &:focus {
      background: colors.$focus-state;
      outline: 1px dotted colors.$white;
      outline-offset: -8px;
    }

    &:active {
      background: colors.$active-state;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    height: 276px;
    width: 276px;
    object-fit: cover;
  }

  &__text,
  &__info {
    color: colors.$white;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  &__text {
    max-height: 152px;
  }

  &__info {
    display: block;
    position: absolute;
    bottom: 24px;
    font-weight: bold;
    width: 228px;

    span {
      display: block;
    }
  }

  &__logo {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__link.has-media {
    .social-tile__text,
    .social-tile__info {
      visibility: hidden;
    }

    &:hover,
    &:focus,
    &:active {
      .social-tile__text,
      .social-tile__info {
        visibility: visible;
      }

      .social-tile__media {
        opacity: 0.2;
      }
    }
  }
}
