.adm-testimonial {
  display: block;
  position: relative;
  width: 100%;
  //background-image: url(./image/quote-bg-1-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: breakpoint-min(md)) {
    //background-image: url(./image/quote-bg-1-desktop.png);
  }

  .block-quote {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 32px 24px;

    @media (min-width: breakpoint-min(md)) {
      padding: 48px 24px;
    }

    @media (min-width: breakpoint-min(lg)) {
      max-width: 977px;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 60%;
      height: 4px;
      background: $cyan;
      top: 48px;
      right: 24px;

      @media (min-width: breakpoint-min(lg)) {
        width: 191px;
        right: unset;
        left: 293px;
      }
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 60%;
      height: 4px;
      background: $ucla-gold;
      top: 52px;
      left: 24px;

      @media (min-width: breakpoint-min(lg)) {
        width: 191px;
        left: 198px;
      }
    }

    & > div {
      display: block;
      border-radius: 40px;
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 48px;
      margin-bottom: 8px;

      @media (min-width: breakpoint-min(md)) {
        border-radius: 63px;
        width: 126px;
        height: 126px;
      }

      @media (min-width: breakpoint-min(lg)) {
        display: inline-block;
        margin: 48px 0 0 0;
        vertical-align: top;
      }

      img {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;

        @media (min-width: breakpoint-min(md)) {
          width: 126px;
          height: 126px;
        }
      }
    }

    &__content {
      max-width: 500px;
      padding: 0 32px;
      margin: 0 auto;

      @media (min-width: breakpoint-min(lg)) {
        margin: 0;
        display: inline-block;
        max-width: 755px;
        padding: 0 0 0 48px;
      }

      &-testimonial {
        font-size: 24px;
        font-weight: bold;
        padding: 0 0 24px;

        @media (min-width: breakpoint-min(lg)) {
          padding: 42px 0 24px;
          font-size: 36px;
          line-height: 40px;
        }

        &::before {
          display: inline-block;
          font-size: 24px;
          width: 30px;
          height: 30px;
          content: '“';
          position: absolute;
          left: 32px;

          @media (min-width: breakpoint-min(md)) {
            font-size: 36px;
          }

          @media (min-width: breakpoint-min(lg)) {
            left: 172px;
          }
        }

        span.last {
          &::after {
            display: inline-block;
            font-size: 24px;
            width: 30px;
            height: 30px;
            content: '”';
            position: relative;

            @media (min-width: breakpoint-min(md)) {
              font-size: 36px;
            }
          }
        }
      }

      &-source {
        padding: 0;

        &--name {
          display: flex;
          font-style: italic;
          margin-bottom: 28px;

          @media (min-width: breakpoint-min(lg)) {
            margin-bottom: 44px;
          }
        }

        &--link {
          font-weight: bold;
          display: flex;
        }
      }
    }
  }
}
