@use "../utilities/_mixins/breakpoints";
@use "../utilities/_mixins/helper";
@use "../utilities/colors";

.tile {
  display: inline-block;
  position: relative;
  width: 276px;
  max-width: 276px;
  height: 188px;

  &__link {
    width: calc(100% - 32px);
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    color: colors.$white;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 32px;
    background: colors.$ucla-blue;

    &:hover {
      background: colors.$hover-state;
    }

    &:active {
      background: colors.$active-state;
    }

    &:focus {
      outline: 1px dotted colors.$hover-state;
      outline-offset: 2px;
      background: colors.$hover-state;
    }

    &::before {
      display: block;
      content: "";
      width: 40px;
      height: 4px;
      background: colors.$ucla-gold;
      margin: 32px 0 28px;
    }
  }

  &.short {
    height: 108px;

    .tile__link {
      &::before {
        display: block;
        content: "";
        width: 40px;
        height: 4px;
        background: colors.$ucla-gold;
        margin: 16px 0 12px;
      }
    }
  }

  img {
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
  }
}
