@use "../../scss/utilities/_mixins/breakpoints";
@use "../../scss/utilities/colors";
@use "../../scss/utilities/variables";

/*************************************
  Tabbed card section
************************************/

/* .tabs is the container for tab buttons and tab panels */
.tabs {
  @media (min-width: breakpoints.breakpoint-min(md)) {
    max-width: 776px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid colors.$grey-10;
  }

  /* container for tab buttons */
  div[role="tablist"] {
    white-space: nowrap;
    border-bottom: 1px solid colors.$grey-10;

    @media (min-width: breakpoints.breakpoint-min(xl)) {
      overflow: hidden;
    }
  }

  /* .tablinks are buttons controlling which panel displays */
  .tablinks {
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 8px 16px 12px;
    color: colors.$default-state;
    font-weight: bold;
    background: none;
    border-bottom: 4px solid transparent; // invisible border so hover state doesn't move button element

    /* when button is active */
    &[aria-selected="true"] {
      color: colors.$grey-80;
      border-bottom: 4px solid colors.$ucla-gold;
    }

    &:hover {
      color: colors.$hover-state;
      border-bottom: 4px solid colors.$hover-state;
    }

    &:focus {
      color: colors.$focus-state;
      outline: 1px dotted colors.$focus-state;
      outline-offset: -2px;
    }

    &:active {
      color: colors.$grey-80;
      border-bottom: 4px solid colors.$ucla-gold;
    }
  }

  /* .tabcontent are the tab panels containing content */
  .tabcontent {
    position: relative;
    z-index: 2;

    &:focus {
      outline: 1px dotted colors.$focus-state;
      outline-offset: -2px;
    }

    h2 {
      margin-top: 24px;
    }

    // Sometimes tabcontent will have paragraph content
    p {
      font-size: 16px;
      line-height: 24px;

      // Add styles to links
      a {
        text-decoration: underline;
        color: colors.$default-state;

        &:visited {
          color: colors.$visited-state;
        }

        &:hover {
          color: colors.$white;
          background-color: colors.$hover-state;
        }

        &:focus {
          color: colors.$white;
          background-color: colors.$focus-state;
          outline: 1px dotted colors.$focus-state;
          outline-offset: 2px;
        }

        &:active {
          color: colors.$white;
          background-color: colors.$active-state;
        }
      }
    }
  }
}
