@use "_mixins/breakpoints";
@use "colors";

/**** UCLA html5reset.css ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: colors.$black;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: colors.$black;
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}


input, select {
  vertical-align: middle;
}

/*  SECTIONS  ============================================================================= */
.ucla {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */
.campus::before,
.campus::after {
  content: "";
  display: table;
}

.campus::after {
  clear: both;
}

.campus {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ucla.campus {
  display: block;
  position: relative;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    padding: 0 12px;
  }
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 0 0 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 768 PIXELS */
@media only screen and (max-width: 768px) {
  .col {
    margin: 0;
  }
}


.ucla.campus {
  display: block;
  position: relative;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: breakpoints.breakpoint-min(lg)) {
    padding: 0 12px;
  }

  // First child fix if you put a title above span. See example on templates/health-saftey.php
  .first-child.col {
    margin-left: 0;
  }

  .last-child.col {
    margin-left: 0;
  }
}

/*  GRID OF TWO   ============================================================================= */
.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_2_of_2 {
    width: 100%;
  }

  .span_1_of_2 {
    width: 100%;
  }
}

/*  GRID OF THREE   ============================================================================= */
.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_3_of_3 {
    width: 100%;
  }

  .span_2_of_3 {
    width: 100%;
  }

  .span_1_of_3 {
    width: 100%;
  }
}

/*  GRID OF FOUR   ============================================================================= */
.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.6%;
}

.span_2_of_4 {
  width: 49.2%;
}

.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_4_of_4 {
    width: 100%;
  }

  .span_3_of_4 {
    width: 100%;
  }

  .span_2_of_4 {
    width: 100%;
  }

  .span_1_of_4 {
    width: 100%;
  }
}

/*  GRID OF FIVE   ============================================================================= */
.span_5_of_5 {
  width: 100%;
}

.span_4_of_5 {
  width: 79.68%;
}

.span_3_of_5 {
  width: 59.36%;
}

.span_2_of_5 {
  width: 39.04%;
}

.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_5_of_5 {
    width: 100%;
  }

  .span_4_of_5 {
    width: 100%;
  }

  .span_3_of_5 {
    width: 100%;
  }

  .span_2_of_5 {
    width: 100%;
  }

  .span_1_of_5 {
    width: 100%;
  }
}

/*  GRID OF SIX   ============================================================================= */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
  width: 83.06%;
}

.span_4_of_6 {
  width: 66.13%;
}

.span_3_of_6 {
  width: 49.2%;
}

.span_2_of_6 {
  width: 32.26%;
}

.span_1_of_6 {
  width: 15.33%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_6_of_6 {
    width: 100%;
  }

  .span_5_of_6 {
    width: 100%;
  }

  .span_4_of_6 {
    width: 100%;
  }

  .span_3_of_6 {
    width: 100%;
  }

  .span_2_of_6 {
    width: 100%;
  }

  .span_1_of_6 {
    width: 100%;
  }
}

/*  GRID OF SEVEN   ============================================================================= */
.span_7_of_7 {
  width: 100%;
}

.span_6_of_7 {
  width: 85.48%;
}

.span_5_of_7 {
  width: 70.97%;
}

.span_4_of_7 {
  width: 56.45%;
}

.span_3_of_7 {
  width: 41.94%;
}

.span_2_of_7 {
  width: 27.42%;
}

.span_1_of_7 {
  width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_7_of_7 {
    width: 100%;
  }

  .span_6_of_7 {
    width: 100%;
  }

  .span_5_of_7 {
    width: 100%;
  }

  .span_4_of_7 {
    width: 100%;
  }

  .span_3_of_7 {
    width: 100%;
  }

  .span_2_of_7 {
    width: 100%;
  }

  .span_1_of_7 {
    width: 100%;
  }
}

/*  GRID OF EIGHT   ============================================================================= */
.span_8_of_8 {
  width: 100%;
}

.span_7_of_8 {
  width: 87.3%;
}

.span_6_of_8 {
  width: 74.6%;
}

.span_5_of_8 {
  width: 61.9%;
}

.span_4_of_8 {
  width: 49.2%;
}

.span_3_of_8 {
  width: 36.5%;
}

.span_2_of_8 {
  width: 23.8%;
}

.span_1_of_8 {
  width: 11.1%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_8_of_8 {
    width: 100%;
  }

  .span_7_of_8 {
    width: 100%;
  }

  .span_6_of_8 {
    width: 100%;
  }

  .span_5_of_8 {
    width: 100%;
  }

  .span_4_of_8 {
    width: 100%;
  }

  .span_3_of_8 {
    width: 100%;
  }

  .span_2_of_8 {
    width: 100%;
  }

  .span_1_of_8 {
    width: 100%;
  }
}

/*  GRID OF NINE   ============================================================================= */
.span_9_of_9 {
  width: 100%;
}

.span_8_of_9 {
  width: 88.71%;
}

.span_7_of_9 {
  width: 77.42%;
}

.span_6_of_9 {
  width: 66.13%;
}

.span_5_of_9 {
  width: 54.84%;
}

.span_4_of_9 {
  width: 43.55%;
}

.span_3_of_9 {
  width: 32.26%;
}

.span_2_of_9 {
  width: 20.97%;
}

.span_1_of_9 {
  width: 9.68%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_9_of_9 {
    width: 100%;
  }

  .span_8_of_9 {
    width: 100%;
  }

  .span_7_of_9 {
    width: 100%;
  }

  .span_6_of_9 {
    width: 100%;
  }

  .span_5_of_9 {
    width: 100%;
  }

  .span_4_of_9 {
    width: 100%;
  }

  .span_3_of_9 {
    width: 100%;
  }

  .span_2_of_9 {
    width: 100%;
  }

  .span_1_of_9 {
    width: 100%;
  }
}

/*  GRID OF TEN   ============================================================================= */
.span_10_of_10 {
  width: 100%;
}

.span_9_of_10 {
  width: 89.84%;
}

.span_8_of_10 {
  width: 79.68%;
}

.span_7_of_10 {
  width: 69.52%;
}

.span_6_of_10 {
  width: 59.36%;
}

.span_5_of_10 {
  width: 49.2%;
}

.span_4_of_10 {
  width: 39.04%;
}

.span_3_of_10 {
  width: 28.88%;
}

.span_2_of_10 {
  width: 18.72%;
}

.span_1_of_10 {
  width: 8.56%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_10_of_10 {
    width: 100%;
  }

  .span_9_of_10 {
    width: 100%;
  }

  .span_8_of_10 {
    width: 100%;
  }

  .span_7_of_10 {
    width: 100%;
  }

  .span_6_of_10 {
    width: 100%;
  }

  .span_5_of_10 {
    width: 100%;
  }

  .span_4_of_10 {
    width: 100%;
  }

  .span_3_of_10 {
    width: 100%;
  }

  .span_2_of_10 {
    width: 100%;
  }

  .span_1_of_10 {
    width: 100%;
  }
}

/*  GRID OF ELEVEN   ============================================================================= */
.span_11_of_11 {
  width: 100%;
}

.span_10_of_11 {
  width: 90.76%;
}

.span_9_of_11 {
  width: 81.52%;
}

.span_8_of_11 {
  width: 72.29%;
}

.span_7_of_11 {
  width: 63.05%;
}

.span_6_of_11 {
  width: 53.81%;
}

.span_5_of_11 {
  width: 44.58%;
}

.span_4_of_11 {
  width: 35.34%;
}

.span_3_of_11 {
  width: 26.1%;
}

.span_2_of_11 {
  width: 16.87%;
}

.span_1_of_11 {
  width: 7.63%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 768px) {
  .span_11_of_11 {
    width: 100%;
  }

  .span_10_of_11 {
    width: 100%;
  }

  .span_9_of_11 {
    width: 100%;
  }

  .span_8_of_11 {
    width: 100%;
  }

  .span_7_of_11 {
    width: 100%;
  }

  .span_6_of_11 {
    width: 100%;
  }

  .span_5_of_11 {
    width: 100%;
  }

  .span_4_of_11 {
    width: 100%;
  }

  .span_3_of_11 {
    width: 100%;
  }

  .span_2_of_11 {
    width: 100%;
  }

  .span_1_of_11 {
    width: 100%;
  }
}

/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.86%;
}


/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
  .span_12_of_12 {
    width: 100%;
  }

  .span_11_of_12 {
    width: 100%;
  }

  .span_10_of_12 {
    width: 100%;
  }

  .span_9_of_12 {
    width: 100%;
  }

  .span_8_of_12 {
    width: 100%;
  }

  .span_7_of_12 {
    width: 100%;
  }

  .span_6_of_12 {
    width: 100%;
  }

  .span_5_of_12 {
    width: 100%;
  }

  .span_4_of_12 {
    width: 100%;
  }

  .span_3_of_12 {
    width: 100%;
  }

  .span_2_of_12 {
    width: 100%;
  }

  .span_1_of_12 {
    width: 100%;
  }
}
