@use "_mixins/breakpoints";
@use "_mixins/helper";
@use "colors";
@use "variables";

h1, h2, h3, h4, h5, h6 {
  color: colors.$grey-80;
  font-weight: bold;
  font-family: variables.$font;
  padding-bottom: 16px;
}

h1, .h1 {
  font-size: 36px;
  line-height: 40.5px;
  font-weight: bold;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    font-size: 48px;
    line-height: 54px;
  }
}

h2, .h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;

  @media (min-width: breakpoints.breakpoint-min(md)) {
    font-size: 36px;
    line-height: 40.5px;
  }
}

h3, .h3 {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

h4, .h4 {
  font-size: 20px;
  line-height: 22.5px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 12.8px;
  line-height: 16px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: colors.$grey-80;
  padding-bottom: 16px;

  strong {
    font-size: bold;
  }

  small {
    font-size: 12.8px;
    line-height: 16px;
  }

  em {
    font-style: italic;
  }
}

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
}

.body-copy-small {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #333;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.mark-text {
  background: #FFF0A5;
}

.insert-text {
  background: #DAEBFE;
}

.has-white-text {
  color: colors.$white;

  @include helper.is-white-text; // located in /utilities/_mixins/_helper.scss

  > div,
  > aside {
    @include helper.is-white-text; // located in /utilities/_mixins/_helper.scss
  }
}
