<figure class="alert alert--primary" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<figure class="alert alert--primary inline-block" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>
