<figure class="alert alert--success" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-success.svg" alt="success">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<figure class="alert alert--success inline-block" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-success.svg" alt="success">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>
