<figure class="alert alert--error" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-error.svg" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<figure class="alert alert--error inline-block" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-error.svg" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>
