<figure class="alert alert--warning" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-warning.svg" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>

<figure class="alert alert--warning inline-block" role="alert">
  <img src="https://webcomponents.ucla.edu/img/icons/denotive/form-warning.svg" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>
