<div class="ucla campus">
	<div class="col span_1_of_4">
	1 of 4
	</div>
	<div class="col span_1_of_4">
	2 of 4
	</div>
	<div class="col span_1_of_4">
	3 of 4
	</div>
  <div class="col span_1_of_4">
	4 of 4
	</div>
</div>
