<div class="ucla campus">
	<div class="col span_1_of_8">
	1 of 8
	</div>
	<div class="col span_1_of_8">
	2 of 8
	</div>
	<div class="col span_1_of_8">
	3 of 8
	</div>
  <div class="col span_1_of_8">
	4 of 8
	</div>
  <div class="col span_1_of_8">
	5 of 8
	</div>
  <div class="col span_1_of_8">
	6 of 8
	</div>
  <div class="col span_1_of_8">
	7 of 8
	</div>
  <div class="col span_1_of_8">
	8 of 8
	</div>
</div>
