<div class="ucla campus">
	<div class="col span_1_of_9">
	1 of 9
	</div>
	<div class="col span_1_of_9">
	2 of 9
	</div>
	<div class="col span_1_of_9">
	3 of 9
	</div>
  <div class="col span_1_of_9">
	4 of 9
	</div>
  <div class="col span_1_of_9">
	5 of 9
	</div>
  <div class="col span_1_of_9">
	6 of 9
	</div>
  <div class="col span_1_of_9">
	7 of 9
	</div>
  <div class="col span_1_of_9">
	8 of 9
	</div>
  <div class="col span_1_of_9">
	9 of 9
	</div>
</div>
