<div class="ucla campus">
	<div class="col span_1_of_10">
	1 of 10
	</div>
	<div class="col span_1_of_10">
	2 of 10
	</div>
	<div class="col span_1_of_10">
	3 of 10
	</div>
  <div class="col span_1_of_10">
	4 of 10
	</div>
  <div class="col span_1_of_10">
	5 of 10
	</div>
  <div class="col span_1_of_10">
	6 of 10
	</div>
  <div class="col span_1_of_10">
	7 of 10
	</div>
  <div class="col span_1_of_10">
	8 of 10
	</div>
  <div class="col span_1_of_10">
	9 of 10
	</div>
  <div class="col span_1_of_10">
	10 of 10
	</div>
</div>
