<div class="ucla campus">
	<div class="col span_1_of_11">
	1 of 11
	</div>
	<div class="col span_1_of_11">
	2 of 11
	</div>
	<div class="col span_1_of_11">
	3 of 11
	</div>
  <div class="col span_1_of_11">
	4 of 11
	</div>
  <div class="col span_1_of_11">
	5 of 11
	</div>
  <div class="col span_1_of_11">
	6 of 11
	</div>
  <div class="col span_1_of_11">
	7 of 11
	</div>
  <div class="col span_1_of_11">
	8 of 11
	</div>
  <div class="col span_1_of_11">
	9 of 11
	</div>
  <div class="col span_1_of_11">
	10 of 11
	</div>
  <div class="col span_1_of_11">
	11 of 11
	</div>
</div>
