<div class="ucla campus">
	<div class="col span_1_of_12">
	1 of 12
	</div>
	<div class="col span_1_of_12">
	2 of 12
	</div>
	<div class="col span_1_of_12">
	3 of 12
	</div>
  <div class="col span_1_of_12">
	4 of 12
	</div>
  <div class="col span_1_of_12">
	5 of 12
	</div>
  <div class="col span_1_of_12">
	6 of 12
	</div>
  <div class="col span_1_of_12">
	7 of 12
	</div>
  <div class="col span_1_of_12">
	8 of 12
	</div>
  <div class="col span_1_of_12">
	9 of 12
	</div>
  <div class="col span_1_of_12">
	10 of 12
	</div>
  <div class="col span_1_of_12">
	11 of 12
	</div>
  <div class="col span_1_of_12">
	12 of 12
	</div>
</div>
