<article class="basic-card">
  <img class="basic-card__image" src="/img/examples/event-card-example-1.jpg" alt="Two children on their phones under the blankets">
  <div class="basic-card__info-wrapper">
    <h1 class="basic-card__title"><span>{{ title }}</span></h1>
    <p class="basic-card__description">{{ description }}</p>
    <div class="basic-card__buttons">
      {{#each button}}
        <button class="btn btn--tertiary">
          {{ cta-title }}
        </button>
      {{/each}}
    </div>
  </div>
</article>

<article class="basic-card-grey">
  <img class="basic-card__image" src="/img/examples/event-card-example-1.jpg" alt="Two children on their phones under the blankets">
  <div class="basic-card__info-wrapper">
    <h1 class="basic-card__title"><span>{{ title }}</span></h1>
    <p class="basic-card__description">{{ description }}</p>
    <div class="basic-card__buttons">
      {{#each button}}
        <button class="btn btn--tertiary">
          {{ cta-title }}
        </button>
      {{/each}}
    </div>
  </div>
</article>
