<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ path '/css/ucla-lib.css' }}">
  <title>Preview</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ path '/js/ucla-lib-scripts.js' }}"></script>
</head>

<body>
  
  {{{ yield }}}

</body>

</html>
