<header id="header">

  {{ view '@navigation--header-logo' }}

  <div class="header-wrap clearfix">
    <div class="site-name clearfix">
      <a href="#" title="Department Name" rel="home">Department Name</a>
    </div>

    <div id="menu-secondary">
      {{ view '@navigation--secondary' }}
    </div>

    <nav id="menu">
      {{ view '@navigation--hamburger' }}

      {{ view '@navigation--primary' }}
    </nav>
  </div>
</header>

{{ view '@navigation--breadcrumb' }}