<!-- PLEASE NOTE: Background styling with or without divs are added to better depict white icons. -->
<!-- 1. Extra styling with or without divs are added to better depict white icons -->
<!-- 2. SGV Icons: Extra div with background and display styling IS NOT REQUIRED for usage -->
<!-- 3. IMG Icons: Extra styling attribute IS NOT required for usage -->

<!-- Clear -->
<img alt="clear" src="https://webcomponents.ucla.edu/img/icons/denotive/clear--black.svg">
<img alt="clear" src="https://webcomponents.ucla.edu/img/icons/denotive/clear--white.svg" style="background: #2774AE">
<img alt="clear" src="https://webcomponents.ucla.edu/img/icons/denotive/clear--grey60.svg">

<!-- Close -->
<img alt="close" src="https://webcomponents.ucla.edu/img/icons/denotive/close--black.svg">
<img alt="close" src="https://webcomponents.ucla.edu/img/icons/denotive/close--white.svg" style="background: #2774AE">
<img alt="close" src="https://webcomponents.ucla.edu/img/icons/denotive/close--blue.svg">

<!-- Download -->
<img alt="down" src="https://webcomponents.ucla.edu/img/icons/denotive/down--black.svg">
<img alt="down" src="https://webcomponents.ucla.edu/img/icons/denotive/down--white.svg" style="background: #2774AE">
<img alt="down" src="https://webcomponents.ucla.edu/img/icons/denotive/down--blue.svg">

<!-- Arrow Up -->
<img alt="download" src="https://webcomponents.ucla.edu/img/icons/denotive/download--black.svg">
<img alt="download" src="https://webcomponents.ucla.edu/img/icons/denotive/download--white.svg" style="background: #2774AE">
<img alt="download" src="https://webcomponents.ucla.edu/img/icons/denotive/download--blue.svg">

<!-- External Link -->
<img alt="external link" src="https://webcomponents.ucla.edu/img/icons/denotive/external-link--black.svg">
<img alt="external link" src="https://webcomponents.ucla.edu/img/icons/denotive/external-link--defaultblue.svg">
<img alt="external link" src="https://webcomponents.ucla.edu/img/icons/denotive/external-link--white.svg" style="background: #2774AE">
<img alt="external link" src="https://webcomponents.ucla.edu/img/icons/denotive/external-link--activeblue.svg">
<img alt="external link" src="https://webcomponents.ucla.edu/img/icons/denotive/external-link--disabledgrey.svg">

<!-- Form Submission -->
<img alt="success" src="https://webcomponents.ucla.edu/img/icons/denotive/form-success.svg">
<img alt="error" src="https://webcomponents.ucla.edu/img/icons/denotive/form-error.svg">
<img alt="error" src="https://webcomponents.ucla.edu/img/icons/denotive/form-warning.svg">

<!-- Forward Arrow -->
<img alt="forward arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/forward-arrow--black.svg">
<img alt="forward arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/forward-arrow--white.svg" style="background: #2774AE">
<img alt="forward arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/forward-arrow--blue.svg">

<!-- Left Arrow -->
<img alt="left arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/left-arrow--black.svg">
<img alt="left arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/left-arrow--white.svg" style="background: #2774AE">
<img alt="left arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/left-arrow--blue.svg">

<!-- Location -->
<img alt="location" src="https://webcomponents.ucla.edu/img/icons/denotive/location--grey60.svg">
<img alt="location" src="https://webcomponents.ucla.edu/img/icons/denotive/location--white.svg" style="background: #2774AE">
<img alt="location" src="https://webcomponents.ucla.edu/img/icons/denotive/location--black.svg">
<img alt="location" src="https://webcomponents.ucla.edu/img/icons/denotive/location--blue.svg">

<!-- Menu -->
<img alt="menu" src="https://webcomponents.ucla.edu/img/icons/denotive/menu--black.svg">
<img alt="menu" src="https://webcomponents.ucla.edu/img/icons/denotive/menu--white.svg" style="background: #2774AE">
<img alt="menu" src="https://webcomponents.ucla.edu/img/icons/denotive/menu--blue.svg">

<!-- New Window -->
<img alt="new window" src="https://webcomponents.ucla.edu/img/icons/denotive/new-window--black.svg">
<img alt="new window" src="https://webcomponents.ucla.edu/img/icons/denotive/new-window--white.svg" style="background: #2774AE">
<img alt="new window" src="https://webcomponents.ucla.edu/img/icons/denotive/new-window--blue.svg">

<!-- Play -->
<img alt="play" src="https://webcomponents.ucla.edu/img/icons/denotive/play--black.svg">
<img alt="play" src="https://webcomponents.ucla.edu/img/icons/denotive/play--white.svg" style="background: #2774AE">
<img alt="play" src="https://webcomponents.ucla.edu/img/icons/denotive/play--blue.svg">

<!-- Right Arrow -->
<img alt="right arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/right-arrow--black.svg">
<img alt="right arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/right-arrow--white.svg" style="background: #2774AE">
<img alt="right arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/right-arrow--blue.svg">

<!-- Search -->
<img alt="search" src="https://webcomponents.ucla.edu/img/icons/denotive/search--grey60.svg">
<img alt="search" src="https://webcomponents.ucla.edu/img/icons/denotive/search--black.svg">
<img alt="search" src="https://webcomponents.ucla.edu/img/icons/denotive/search--white.svg" style="background: #2774AE">
<img alt="search" src="https://webcomponents.ucla.edu/img/icons/denotive/search--blue.svg">

<!-- Sort -->
<img alt="sort ascending" src="https://webcomponents.ucla.edu/img/icons/denotive/sort--ascending.svg">
<img alt="sort descending" src="https://webcomponents.ucla.edu/img/icons/denotive/sort--descending.svg">

<!-- Time -->
<img alt="time" src="https://webcomponents.ucla.edu/img/icons/denotive/time--grey60.svg">
<img alt="time" src="https://webcomponents.ucla.edu/img/icons/denotive/time--black.svg">
<img alt="time" src="https://webcomponents.ucla.edu/img/icons/denotive/time--white.svg" style="background: #2774AE">

<!-- Up Arrow -->
<img alt="up arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/up-arrow--black.svg">
<img alt="up arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/up-arrow--white.svg" style="background: #2774AE">
<img alt="up arrow" src="https://webcomponents.ucla.edu/img/icons/denotive/up-arrow--blue.svg">
