<!-- Moon Black -->
<svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
  <title>Moon</title>
  <g>
  	<path fill-rule="evenodd" clip-rule="evenodd" d="M10,24.4c0-2,0.4-3.8,1.2-5.6c0.8-1.8,1.8-3.2,3-4.6s2.8-2.2,4.6-3
  		c1.8-0.8,3.6-1.2,5.6-1.2h2.2c0.4,0,0.4,0.2,0.4,0.6v1.8c0,2.6,1,4.8,2.8,6.4c1.8,1.8,3.8,2.8,6.4,2.8l1.6,0.2
  		c0.4,0,0.4,0.2,0.4,0.4v2c0,2.6-0.6,5-1.8,7.2c-1.2,2.2-3,4-5.2,5.2c-2.2,1.2-4.6,2-7.2,2c-2,0-3.8-0.4-5.6-1.2
  		c-1.8-0.8-3.2-1.8-4.6-3c-1.2-1.2-2.2-2.8-3-4.6C10.4,28.2,10,26.2,10,24.4z M13.6,24.4c0,1.6,0.2,3,0.8,4.4
  		c0.6,1.4,1.4,2.4,2.4,3.4s2.2,1.6,3.4,2.2c1.2,0.6,2.6,0.8,3.8,0.8s2.4-0.2,3.6-0.6c1.2-0.4,2.2-1,3.2-2c1-1,1.8-1.8,2.6-3.2
  		c0.8-1.2,1.2-2.6,1.4-4.2c-3.2-0.6-5.8-2-7.8-4.2s-2.8-4.6-3.2-7.6c-2,0.2-3.6,0.6-5.2,1.8c-1.6,1-2.8,2.4-3.6,4
  		C14.2,20.8,13.6,22.6,13.6,24.4z"/>
  </g>
</svg>

<div style="background: #2774AE; display: inline-block;">
  <!-- Moon White -->
  <svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
    <title>Moon</title>
    <g>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M10,24.4c0-2,0.4-3.8,1.2-5.6c0.8-1.8,1.8-3.2,3-4.6
    		s2.8-2.2,4.6-3c1.8-0.8,3.6-1.2,5.6-1.2h2.2c0.4,0,0.4,0.2,0.4,0.6v1.8c0,2.6,1,4.8,2.8,6.4c1.8,1.8,3.8,2.8,6.4,2.8l1.6,0.2
    		c0.4,0,0.4,0.2,0.4,0.4v2c0,2.6-0.6,5-1.8,7.2c-1.2,2.2-3,4-5.2,5.2c-2.2,1.2-4.6,2-7.2,2c-2,0-3.8-0.4-5.6-1.2
    		c-1.8-0.8-3.2-1.8-4.6-3c-1.2-1.2-2.2-2.8-3-4.6C10.4,28.2,10,26.2,10,24.4z M13.6,24.4c0,1.6,0.2,3,0.8,4.4
    		c0.6,1.4,1.4,2.4,2.4,3.4s2.2,1.6,3.4,2.2c1.2,0.6,2.6,0.8,3.8,0.8s2.4-0.2,3.6-0.6c1.2-0.4,2.2-1,3.2-2c1-1,1.8-1.8,2.6-3.2
    		c0.8-1.2,1.2-2.6,1.4-4.2c-3.2-0.6-5.8-2-7.8-4.2s-2.8-4.6-3.2-7.6c-2,0.2-3.6,0.6-5.2,1.8c-1.6,1-2.8,2.4-3.6,4
    		C14.2,20.8,13.6,22.6,13.6,24.4z"/>
    </g>
  </svg>
</div>
