<!-- PLEASE NOTE: Background styling with or without divs are added to better depict white icons. -->
<!-- 1. Extra styling with or without divs are added to better depict white icons -->
<!-- 2. SGV Icons: Extra div with background and display styling IS NOT REQUIRED for usage -->
<!-- 3. IMG Icons: Extra styling attribute IS NOT required for usage -->

<!-- Foggy -->
<img alt="foggy" src="/img/icons/weather/foggy--black.svg">
<img alt="foggy" src="/img/icons/weather/foggy--white.svg" style="background: #2774AE">

<!-- Moon -->
<img alt="moon" src="/img/icons/weather/moon--black.svg">
<img alt="moon" src="/img/icons/weather/moon--white.svg" style="background: #2774AE">

<!-- Overcast -->
<img alt="overcast" src="/img/icons/weather/overcast--black.svg">
<img alt="Overcast" src="/img/icons/weather/overcast--white.svg" style="background: #2774AE">

<!-- Partly Cloudy -->
<img alt="partly cloudy" src="/img/icons/weather/partly-cloudy--black.svg">
<img alt="partly cloudy" src="/img/icons/weather/partly-cloudy--white.svg" style="background: #2774AE">

<!-- Partly Sunny -->
<img alt="partly sunny" src="/img/icons/weather/partly-sunny--black.svg">
<img alt="partly sunny" src="/img/icons/weather/partly-sunny--white.svg" style="background: #2774AE">

<!-- Light Rain -->
<img alt="light rain" src="/img/icons/weather/rain--black.svg">
<img alt="light rain" src="/img/icons/weather/rain--white.svg" style="background: #2774AE">

<!-- Sunny -->
<img alt="sunny" src="/img/icons/weather/sunny--black.svg">
<img alt="sunny" src="/img/icons/weather/sunny--white.svg" style="background: #2774AE">
