<footer id="footer" role="contentinfo" class="footer">
	{{ view '@footer-and-email-signup--department' }}

	{{ view '@footer-and-email-signup--email' }}

	{{ view '@footer-and-email-signup--global' }}

</footer>
