<footer id="footer" role="contentinfo" class="footer">
	<div class="footer__dept">

		<img class="footer__dept--logo" src="/img/examples/footer-stratcomm-logo.svg" alt="Strategic Communications Logo">

		<div class="footer__dept--info">
			<address class="footer__dept--contact">
				<p>10889 Wilshire Blvd., Suite 1400</p>
				<p>Los Angeles, CA 90024</p>
				<p>(626) 123-4567</p>
				<p><a href="mailto:contact@stratcomm.ucla.edu" class="white-link">contact@stratcomm.ucla.edu</a></p>
			</address>

			<div class="footer__dept--social">
				<a href="#" class="footer__dept--social-facebook">
					<object tabindex="-1" data="/img/icons/social/facebook--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-twitter">
					<object tabindex="-1" data="/img/icons/social/twitter--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-instagram">
					<object tabindex="-1" data="/img/icons/social/instagram--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-snapchat">
					<object tabindex="-1" data="/img/icons/social/snapchat--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-linkedin">
					<object tabindex="-1" data="/img/icons/social/linkedin--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-youtube">
					<object tabindex="-1" data="/img/icons/social/youtube--white.svg" type="image/svg+xml"></object>
				</a>
				<a href="#" class="footer__dept--social-tiktok">
					<object tabindex="-1" data="/img/icons/social/tiktok--white.svg" type="image/svg+xml"></object>
				</a>
			</div>
		</div>


		<nav class="footer__dept--links">
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
		</nav>
	</div>
</footer>
