<div class="ucla campus global-foot">

  <div class="social-links-container mt-24">
    <a class="social-icon" href="https://www.facebook.com/UCLA/"><span class="social-icon--facebook"></span><span class="visuallyhidden">Facebook</span></a>
    <a href="https://www.instagram.com/ucla/"><span class="social-icon--instagram"></span><span class="visuallyhidden">Instagram</span></a>
    <a href="https://www.linkedin.com/school/ucla"><span class="social-icon--linkedin"></span><span class="visuallyhidden">Linked</span></a>
    <a href="https://twitter.com/ucla"><span class="social-icon--twitter"></span><span class="visuallyhidden">Twitter</span></a>
    <a href="https://www.youtube.com/user/UCLA"><span class="social-icon--youtube"></span><span class="visuallyhidden">Youtube</span></a>
    <a href="https://www.tiktok.com/@ucla?lang=en"><span class="social-icon--tiktok"></span><span class="visuallyhidden">TikTok</span></a>
    <a href="https://story.snapchat.com/@uclaofficial"><span class="social-icon--snapchat"></span><span class="visuallyhidden">Snapchat</span></a>
  </div>

  <div class="global-foot__legal">

    <p class="global-foot__legal--copyright mt-32">&copy; <?php echo date('Y');?> Regents of the <a class="copy__link-a dark" href="http://www.universityofcalifornia.edu/">University of California</a></p>

    <ul class="global-foot__legal--list mt-lg-24">
      <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://www.bso.ucla.edu/">Emergency</a></li>
      <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="/accessibility">Accessibility</a></li>
      <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="https://ucla-gme-advocate.symplicity.com/public_report/index.php/pid031251">Report Misconduct</a></li>
      <!-- <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="#">Communication Preferences</a></li> -->
      <li class="global-foot__legal--list-item"><a class="global-foot__legal--link" href="/terms-of-use/">Privacy &amp; Terms of Use</a></li>
    </ul>

  </div>
</div>
